<template>
    <div v-if="todo.show">
        <p>{{todo.task}}</p>
        <button @click="deleteTodo(todo)">Delete</button> | 
        <button @click="toggleTodo(todo)">Hide</button>
        <hr>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
    props: ['todo'],

    methods: {
        ...mapActions({
            deleteTodo: 'deleteTodo'
        }),

        ...mapActions({
            toggleTodo: 'toggleTodo'
        })
    }

}
</script>

<style>

</style>