<template>
  <input type="text" v-model="newTodo">
  <button @click="addTodo">Create</button>
  <p v-if="err">{{ err }}</p>
</template>

<script>
export default {
    data(){
        return {
            newTodo: '',
            err: ''
        }
    },

    methods: {
        addTodo(){
            if(this.newTodo.length > 0){
                this.$store.dispatch('addTodo', this.newTodo)
                this.newTodo = ''
            }else{
                this.err = "Enter something on the input field"
            }
            
        }
    }
}
</script>

<style>

</style>