<template>
  <h3>Total: {{totalTodos}}</h3>
  <h3>Showing: {{activeTodos}}</h3>
  <TodoList />
  <TodoForm />
</template>

<script>
import TodoList from './components/TodoList.vue'
import TodoForm from './components/TodoForm.vue'
import { mapGetters } from "vuex";

export default {
  name: 'App',
  components: {
    TodoList, TodoForm
  },

  computed: {
    ...mapGetters({
      totalTodos: 'totalTodos'
    }),

    ...mapGetters({
      activeTodos: 'activeTodos'
    }),
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
